<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    Play Game
    <a href="/games/2048/2048.html">2048</a>
    <a href="/games/tic-tac-toe/tic.html">Tic-Tac-Toe</a>
</body>
</html>