<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technical</title>
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
  <div class="navbar">
    <div class="menu">
      <span class="menu-bar"><a href="/templates/views/login.hbs">Login</a></span>
      <span class="menu-bar"><a href="/templates/views/signup.hbs">Signup</a></span>
      <span class="menu-bar">More</span>
    </div>
  </div>
</body>
</html>